services:
  app:
    build: .
    container_name: django_app
    depends_on:
      db:
        condition: service_healthy
    command: gunicorn cocktails_analytics.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./static:/app/staticfiles
    environment:
      - DEBUG=0
      - DATABASE_URL=sqlite:///data/db.sqlite3
    expose:
      - "8000"
    restart: unless-stopped
    networks:
      - django

  db:
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/certs:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      app:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - django

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      nginx:
        condition: service_started
    command:
      - certonly
      - --webroot
      - -w
      - /var/www/certbot
      - --email
      - ${ADMIN_EMAIL}
      - --agree-tos
      - --no-eff-email
      - --non-interactive
      - -d
      - ${DOMAIN}
    networks:
      - django

volumes:
  certbot-www:

networks:
  django:
    driver: bridge