{% extends 'cocktails/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block title %}Cocktails - {{ cocktail.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card px-3 d-flex flex-column justify-content-center align-items-center vh-100 text-white">
            <div class="d-flex justify-content-start w-100">
                <img src="{{ cocktail.image_url }}" alt="{{ cocktail.name }}" class="me-3 h-auto w-50">
                <div class="d-flex flex-column justify-content-between align-items-start ms-3 h-100">
                    <!-- Верхняя часть -->
                    <div>
                        <h1>{{ cocktail.name }}</h1>
                        {% if cocktail.is_alcoholic %}
                            <h2 class="text-bg-primary">Alcoholic</h2>
                        {% else %}
                            <h2 class="text-bg-secondary">Non-alcoholic</h2>
                        {% endif %}
                    </div>

                    <!-- Центральная часть -->
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <ul>
                            {% for ingredient, measure in ingredients %}
                                <li><a class="text-white" href="{% url 'explore_ingredient' id=ingredient.id %}">{{ ingredient.name }}</a> - {{ measure }}</li>
                            {% endfor %}
                        </ul>
                        <p>{{ cocktail.instruction }}</p>
                    </div>

                    <!-- Нижняя часть -->
                    <div>
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'toggle_favourite' cocktail.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Add to favourites</button>
                            </form>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'login' %}">Auth to add to favourites</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}