{% extends 'cocktails/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block title %}Cocktails - {{ ingredient.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card px-3 d-flex flex-column justify-content-center align-items-center vh-100 text-white">
            <div class="d-flex justify-content-start w-100">
                <img src="{{ ingredient.image_url }}" alt="{{ ingredient.name }}" class="me-3 h-auto w-50">
                <div class="d-flex flex-column justify-content-between align-items-start ms-3 h-100">
                    <!-- Верхняя часть -->
                    <div>
                        <h1>{{ ingredient.name }}</h1>
                        <h2 class="text-bg-primary">ABV: {{ ingredient.abv }}%</h2>
                    </div>

                    <!-- Центральная часть -->
                    <div>
                        <p>{{ ingredient.description }}</p>
                    </div>

                    <!-- Нижняя часть -->
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <h3 class="text-white">Used in:</h3>
                        <ul>
                            {% for cocktail in cocktails %}
                                <li><a class="text-white" href="{% url 'explore_cocktail' id=cocktail.id %}">{{ cocktail.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <p>{{ cocktail.instruction }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}