{% extends 'cocktails/base.html' %}
{% load static %}

{% block title %}Cocktails - Main page{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'cocktails/components/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div style="background-color: rgba(51, 0, 0, 0.8);" class="rounded-4 p-3">
            <div class="text-center">
                <h1>Discover cocktails and their ingredients</h1>
                <h2>Explore recipes, alcohol levels and popularity</h2>
            </div>
            <div class="d-flex gap-3 justify-content-center mt-4">
                <a class="btn btn-primary" href="{% url 'cocktails' page=1 %}">Browse cocktails</a>
                <a class="btn btn-secondary" href="#">Random cocktail</a>
            </div>
        </div>
    </div>
{% endblock %}