{% extends 'cocktails/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/pages.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'cocktails/components/navbar.html' %}
{% endblock %}

{% block content %}
    {% include 'cocktails/components/object_list_page.html' with title="Browse Ingredients" subtitle="Explore ingredient descriptions" rows=rows page_obj=page_obj url_name='ingredients' card_template='cocktails/components/ingredient_card.html' %}
{% endblock %}